<div class="container-fluid">
  <div class="box box-default">
    <div class="box-body">
      <div class="row">
        <div class="col-md-5">
          <div class="row">
            <div class="col-md-4">
              <div class="box box-success">
                <div
                  class="box-header with-border"
                  style="background-color: #eceff3"
                >
                  <h3 class="box-title"><strong>September 08, 2019</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body bg-red">No Work</div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="box box-success">
                <div
                  class="box-header with-border"
                  style="background-color: #eceff3"
                >
                  <h3 class="box-title"><strong>September 08, 2019</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body bg-yellow">No Work</div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="col-md-4">
              <div class="box box-success">
                <div
                  class="box-header with-border"
                  style="background-color: #eceff3"
                >
                  <h3 class="box-title"><strong>September 08, 2019</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body bg-blue">No Work</div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="row">
            <div class="col-md-3">
              <div class="box box-success">
                <div
                  class="box-header with-border"
                  style="background-color: #eceff3"
                >
                  <h3 class="box-title"><strong>September 08, 2019</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body bg-blue">No Work</div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box-success">
                <div
                  class="box-header with-border"
                  style="background-color: #eceff3"
                >
                  <h3 class="box-title"><strong>September 08, 2019</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body bg-blue">No Work</div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box-success">
                <div
                  class="box-header with-border"
                  style="background-color: #eceff3"
                >
                  <h3 class="box-title"><strong>September 08, 2019</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body bg-blue">No Work</div>
                <!-- /.box-body -->
              </div>
            </div>
            <div class="col-md-3">
              <div class="box box-success">
                <div
                  class="box-header with-border"
                  style="background-color: #eceff3"
                >
                  <h3 class="box-title"><strong>September 08, 2019</strong></h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body bg-red">No Work</div>
                <!-- /.box-body -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--...... work hour showing panel ends here.... -->

  <div class="row">
    <div class="col-md-7 col-xs-12">
      <div class="box box-default">
        <div class="box-body">
          <div class="row">
            <div class="col-md-3 col-xs-6">
              <a class="btn btn-app" style="height: 100px; width: 100px">
                <span class="badge bg-blue">Current</span>
                <i class="fa fa-clock-o"></i> <br />
                <Strong>10:43:06 PM</Strong>
                <br />
                2019-09-09
              </a>
            </div>
            <div class="col-md-3 col-xs-6">
              <a class="btn btn-app" style="height: 100px; width: 100px">
                <span class="badge bg-green-gradient">Monthly</span>
                <i class="fa fa-check-square"></i> <br />
                <strong
                  >Attendance <br />
                  Report</strong
                >
              </a>
            </div>
            <div class="col-md-3 col-xs-6">
              <a class="btn btn-app" style="height: 100px; width: 100px">
                <span class="badge bg-red">1 times</span>
                <i class="fa fa-check-square-o"></i> <br /><strong
                  >Att.Request</strong
                ><br />
                <strong>A=0, p=1</strong>
              </a>
            </div>
            <div class="col-md-3 col-xs-6">
              <a class="btn btn-app" style="height: 100px; width: 100px">
                <span class="badge bg-yellow">0 days</span>
                <i class="fa fa-clock-o"></i> <br />
                <strong>leave</strong><br />
                <strong>A=0, p=1</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="box box-default">
        <div class="box-body">
          <div class="row">
            <div class="col-md-7 col-xs-12">
              <div class="row check-btns">
                <div class="col-md-4 col-xs-6">
                  <button class="btn btn-success">
                    <i class="fa fa-clock-o"></i> Clock In
                  </button>
                  <button class="btn btn-danger check-out-btns">
                    <i class="fa fa-clock-o"></i> Clock Out
                  </button>
                </div>
                <div class="col-md-4 col-xs-6">
                  <button class="btn btn-success">
                    <i class="fa fa-cutlery"></i> In Lunch
                  </button>
                  <button class="btn btn-danger check-out-btns">
                    <i class="fa fa-cutlery"></i> Out Lunch
                  </button>
                </div>
                <div class="col-md-4 col-xs-6">
                  <button class="btn btn-success">
                    <i class="fa fa-bicycle"></i> In Break
                  </button>

                  <button class="btn btn-danger check-out-btns">
                    <i class="fa fa-bicycle"></i> Out Break
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-5 col-xs-12">
              <div class="row">
                <div class="col-md-6 col-xs-6">
                  <img
                    src="../../../../../../assets/images/request.png"
                    style="height: 80px"
                  />
                  <caption>
                    <strong>Leave</strong>
                  </caption>
                </div>
                <div class="col-md-6 col-xs-6">
                  <img
                    src="../../../../../../assets/images/message.png"
                    style="height: 80px"
                  />
                  <caption>
                    <strong> Message</strong>
                  </caption>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5 col-xs-12">
      <div class="box box-success">
        <div class="box-header with-border">
          <h3 class="box-title">Information</h3>
        </div>
        <div class="box-body">
          <div class="table-responsive text-nowrap table-border"></div>
          <table class="table table-bordered table-striped">
            <tbody>
              <tr>
                <td><Strong>Employee Code</Strong></td>
                <td>Otto</td>
              </tr>
              <tr>
                <td><strong>Designation</strong></td>
                <td>Thornton</td>
              </tr>
              <tr>
                <td><strong>Employee's Comp Code</strong></td>
                <td>@twitter</td>
              </tr>
              <tr>
                <td><strong>Salary Rate</strong></td>
                <td>Otto</td>
              </tr>
              <tr>
                <td><strong>Company Department</strong></td>
                <td>Otto</td>
              </tr>
              <tr>
                <td><strong>Company Location</strong></td>
                <td>Otto</td>
              </tr>
              <tr>
                <td><strong>Company Division</strong></td>
                <td>Otto</td>
              </tr>
              <tr>
                <td><strong>Company Headquaters</strong></td>
                <td>Otto</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--........ Attendance report table starts here................... -->
  <div class="row">
    <div class="col-md-12">
      <div class="box box-default">
        <div class="box-body">
          <div class="box-header with-border">
            <h4 style="text-align: center; cursor: pointer" class="box-title">
              <a> Current Month Attendance Report,2076 Bhadra</a>
              <b style="color: red">[Excluding Break Time]</b>
            </h4>
          </div>

          <div class="table-responsive text-nowrap">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                  <th scope="col">Heading</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">In</th>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>weekend</td>
                  <td>weekend</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                </tr>
                <tr>
                  <th scope="row">Out</th>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                </tr>
                <tr>
                  <th scope="row">Total(Hrs)</th>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                  <td>Cell</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="table-responsive text-nowrap" style="margin-top: 20px">
            <table class="table border">
              <thead>
                <tr>
                  <th scope="col">Color</th>
                  <th style="background-color: lightblue"></th>
                  <th style="background-color: green"></th>
                  <th style="background-color: #fff"></th>
                  <th style="background-color: red"></th>
                  <th style="background-color: yellow"></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Notification</th>
                  <td>Holiday</td>
                  <td>Meet Work Hrs</td>
                  <td>Absent</td>
                  <td>Dosen't Meet Work Hrs</td>
                  <td>Leave</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
