<div class="box box-default box-shadow">
  <div class="head">
    <h3><b>Use the API key below to make calls to our system.</b></h3>
  </div>

  <form>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <label>Your API key is:</label>
          <input class="form-control" />
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <button class="btn btn-primary">Regenerate</button>
      </div>
    </div>
  </form>
</div>
