<div class="flex-container mb-4">
    <div class="flex-item">
        <button class="btn btn-success mr-3 btn-oval" (click)="openAddModal(userCredentialsModal)">
      <b>
        <i class="fa fa-key" aria-hidden="true"></i>
        Assign User Credentials</b
      >
    </button>
        <!-- <flexyear-add-modal
      [buttonName]="'Assign Pin to User'"
      [modalTitle]="'Change Pin'"
      (click)="clearModal()"
      (onSubmit)="onPinChange()"
      [formValid]="pinChangeForm"
    >
      <ng-template [ngTemplateOutlet]="pinChangeModal"></ng-template>
    </flexyear-add-modal> -->
    </div>
    <div class="flex-item">
        <button class="btn btn-success btn-oval" (click)="openAssignPinModal(pinChangeModal)">
      <b><i class="fa fa-map-pin"></i>&nbsp;Assign Pin To User</b>
    </button>
    </div>
</div>
<div class="box box-default box-shadow">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-tabs">
                <!-- Active User Lists -->
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }">
                    <a [routerLink]="['active-list']">
                        <b><i class="fa fa-toggle-on"></i>&nbsp;Active User List</b>
                    </a>
                </li>

                <!-- Client Basic Information -->
                <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a [routerLink]="['archive-list']">
                        <i class="fa fa-toggle-off"></i>&nbsp;<b>Archive User List</b>
                    </a>
                </li>
            </ul>

            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- user credentials modal -->
<form [formGroup]="userCredentialsForm">
    <ng-template #userCredentialsModal>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{ modalTitle }}</h4>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div *ngIf="!editMode">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="user1">Employee Name  <sup>*</sup></label>
                            <ng-select appearance="outline" #agreeSelect labelForId="user" [searchable]="true" formControlName="staff_id" placeholder="Select Employee" appFormControlValidationMsg>
                                <ng-option value="" selected>Select Employee</ng-option>

                                <ng-option *ngFor="let item of staffList" [value]="item.staff_id">
                                    {{ item.full_name }}
                                </ng-option>
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div *ngIf="editMode">
                    <div class="col-md-12">
                        <h4>{{ selectedUserFullName }}</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="username">Username <sup>*</sup></label>
                        <input placeholder="Your Username" aria-autocomplete="none" type="text" id="username" class="form-control" formControlName="username" appFormControlValidationMsg />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">Password <sup>*</sup></label>
                        <input placeholder="Your Password" type="password" id="password" class="form-control" formControlName="password" appFormControlValidationMsg />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="password">Verify Password <sup>*</sup></label>
                        <input placeholder="Verify Password" type="password" id="password" class="form-control" formControlName="confirmPassword" appFormControlValidationMsg />
                    </div>
                </div>
            </div>
            <!-- modal body -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
        Cancel
      </button>
            <button class="btn btn-success btn-oval" type="submit" (click)="onCreate()" appFormSubmitValidationMsg [validationControl]="userCredentialsForm">
        Save
      </button>
        </div>
    </ng-template>
</form>

<!-- assign pin modal -->
<form [formGroup]="pinChangeForm">
    <ng-template #pinChangeModal>
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{ modalTitle }}</h4>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="user1">Employee Name <sup>*</sup></label>
                        <ng-select appearance="outline" #agreeSelect labelForId="user" [searchable]="true" formControlName="user_id" placeholder="Select Employee" appFormControlValidationMsg>
                            <ng-option value="" selected>Select Employee</ng-option>

                            <ng-option *ngFor="let item of staffList" [value]="item.user_id">
                                {{ item.full_name }}
                            </ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <label>Pin
            <a style="color: red">(Please note the pin in safe place)</a>
          </label>
                    <input type="hidden" class="form-control" formControlName="pin" />
                    <!-- <div class="flex-container"> -->
                    <!-- <div class="flex-item"> -->
                    <h3 *ngIf="showRandomNumber">
                        {{ randomNumber }}
                    </h3>
                    <p *ngIf="!showRandomNumber">&nbsp;</p>
                    <!-- </div> -->

                    <!-- <div class="flex-item"> -->
                    <a class="badge bg-blue-gradient" (click)="returnRandomNmber()"><i class="fa fa-refresh" style="margin-right: 5px"></i>Generate</a
          >
        </div>
        <!-- </div> -->
      </div>
    </div>
    <!-- </div> -->

    <div class="modal-footer">
      <button
        class="btn btn-danger btn-oval"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
      <button
        class="btn btn-success btn-oval"
        type="submit"
        appSingleClick
        (onClick)="changePin()"
        [validationControl]="pinChangeForm"
        appFormSubmitValidationMsg
      >
        Save
      </button>
    </div>

    <!-- modal body -->
  </ng-template>
</form>
