<div class="box box-default box-shadow">
    <!-- <div class="box-header"> -->
    <!-- <div class="flex-container">
      <div class="flex-item">
        <button class="btn btn-success button-margin-right">List All</button>
        <button class="btn btn-success button-margin-right">Approved</button>
        <button class="btn btn-success button-margin-right">Pendings</button>
        <button class="btn btn-success">Declined</button>
      </div>
      <div class="flex-item"></div>
    </div> -->
    <!-- <div class="flex-container">
      <div class="flex-item">
        <button class="btn btn-success" (click)="listAllLeaves()">
          List all
        </button>
      </div>
      <div class="flex-item">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Search By</button>
          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
          >
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a style="cursor: pointer" (click)="searchBy('approved')">
                <span class="badge bg-green-gradient">Approved</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a style="cursor: pointer" (click)="searchBy('pending')">
                <span class="badge bg-yellow">Pending</span>
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a style="cursor: pointer" (click)="searchBy('declined')">
                <span class="badge bg-red">Declined</span>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- <div class="flex-item pull-right">
        <div class="btn-group">
          <button type="button" class="btn btn-default">
            Mark selected As
          </button>
          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
          >
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li>
              <a>
                <span class="badge bg-green-gradient">Approve</span>
              </a>
            </li>
            <li class="divider"></li>

            <li>
              <a>
                <span class="badge bg-red">Decline</span>
              </a>
            </li>
          </ul>
        </div>
      </div> -->
    <!-- </div> -->
    <!-- </div> -->

    <!-- this is filter for correction detail for staff under the user starts here   -->

    <div class="box-header with-border mt-3" *ngIf="authService.currentUserRoleValue !== 'staff' && showClient">
        <form [formGroup]="attendanceDetailsForm">
            <div class="row" *ngIf="showClient">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="client">Client</label>
                        <ng-select appearance="outline" #agreeSelect labelForId="client" [searchable]="true" formControlName="client_id" placeholder="Select Client" appFormControlValidationMsg (change)="clientChange()">
                            <ng-option value="" selected>Select Client</ng-option>

                            <ng-option *ngFor="let item of clientList" [value]="item.client_id">{{ item.name }}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="user123">User</label>
                    <ng-select appearance="outline" #agreeSelect [searchable]="true" [dropdownPosition]="'bottom'" placeholder="Select User" formControlName="user_id" (change)="getStaffId($event)">
                        <ng-option value="" selected>Select User</ng-option>
                        <ng-option *ngFor="let staff of staffList" [value]="staff.user_id">
                            <!-- {{ staff.last_name }} {{ staff.middle_name ? staff.middle_name : "" }} {{ staff.first_name }} -->
                            {{staff.first_name | name:staff.last_name:staff.middle_name}} ({{ staff.username }})
                        </ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="row" *ngIf !="showClient">
                <div class="col-md-4">
                    <label for="userId">User</label>
                    <ng-select appearance="outline" #agreeSelect [searchable]="true" [dropdownPosition]="'bottom'" placeholder="Select.." formControlName="user_id" (change)="getStaffId($event)">
                        <ng-option *ngFor="let staff of employeeList" [value]="staff.user_id">
                            <!-- {{ staff.last_name }} {{ staff.middle_name ? staff.middle_name : "" }} {{ staff.first_name }} -->
                            {{staff.first_name | name:staff.last_name:staff.middle_name}} ({{ staff.username }})
                        </ng-option>
                    </ng-select>
                </div>
            </div>
        </form>
    </div>

    <!-- filter ends here  -->

    <!-- All Correction Attendance -->
    <tabset #tabset id="tabset">
        <!-- All Leave Request tab -->
        <tab id="tab" heading="All" (selectTab)="selectedTab('all')">
            <div class="panel panel-primary mt-4">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <b>
              <i class="fa fa-check mr-2"></i>
              All Correction Attendance</b
            >
          </h3>
        </div>

        <div class="panel-body">
          <div class="box-body">
            <kendo-grid
              [data]="gridViewAll"
              [resizable]="true"
              [pageSize]="pageLimit"
              [skip]="skip"
              [pageable]="
                gridViewAll
                  ? gridViewAll.total <= pageLimit
                    ? false
                    : true
                  : false
              "
              [filter]="state.filter"
              [sortable]="true"
              [sort]="sort"
              [loading]="listLoading"
              [filterable]="false"
              (dataStateChange)="dataStateChangeAll($event)"
            >
              <kendo-grid-column
                title="S.N"
                [filterable]="false"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="50"
                [minResizableWidth]="30"
              >
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                  <p>{{ rowIndex + 1 }}</p>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column
                title="User Staff"
                [filterable]="true"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="240"
                field="correction_status"
              >
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-rowIndex="rowIndex"
                >
                  <a
                    (mouseover)="viewStaffButtons(dataItem, rowIndex)"
                    (mouseout)="pointedStaff = null; activeIndex = null"
                  >
                    <strong>
                      <!-- {{ dataItem.last_name }}&nbsp;{{
                        dataItem.first_name
                      }}&nbsp;{{ dataItem.middle_name }} -->
                      {{dataItem.first_name|name:dataItem.last_name:dataItem.middle_name}}
                    </strong>
                    <div *ngIf="dataItem.correction_status == 'A'">
                      <div class="flex-container">
                        <div class="flex-item">
                          <span
                            *ngIf="dataItem.correction_status == 'A'"
                            class="badge bg-green-gradient"
                            >Approved</span
                          >
                        </div>
                        <div class="flex-item" *ngIf="this.authService.currentUserRoleValue !== 'staff'">
                          <a
                            disabled
                            [ngClass]="
                              pointedStaff == dataItem &&
                              activeIndex == rowIndex
                                ? 'block'
                                : 'displayNone'
                            "
                            class="btn btn-xs btn-success"
                          >
                            <i class="fa fa-check"></i> Approve</a
                          >
                        </div>
                        <div
                          class="flex-item"
                          *ngIf="this.authService.currentUserRoleValue !== 'staff'"
                        >
                          <button
                            [ngClass]="
                              pointedStaff == dataItem &&
                              activeIndex == rowIndex
                                ? 'block'
                                : 'displayNone'
                            "
                            (click)="openDeclineConfirmationDialogue(dataItem)"
                            class="btn btn-xs btn-danger"
                          >
                            <i class="fa fa-close"></i> Decline
                          </button>
                        </div>
                      </div>
                    </div>

                    <div *ngIf="dataItem.correction_status == 'D'">
                      <div class="flex-container">
                        <div class="flex-item">
                          <span
                            *ngIf="dataItem.correction_status == 'D'"
                            class="badge bg-red-gradient"
                            >Declined</span
                          >
                        </div>
                        <div
                          *ngIf="this.authService.currentUserRoleValue !== 'staff'"
                          class="flex-item"
                          [ngClass]="
                            pointedStaff == dataItem && activeIndex == rowIndex
                              ? 'block'
                              : 'displayNone'
                          "
                        >
                          <a
                            (click)="openApprovalConfirmation(dataItem)"
                            class="btn btn-xs btn-success"
                          >
                            <i class="fa fa-check"></i> Approve</a
                          >
                        </div>
                        <div class="flex-item"
                        *ngIf="authService.currentUserRoleValue !=='staff'">
                          <a
                            [ngClass]="
                              pointedStaff == dataItem &&
                              activeIndex == rowIndex
                                ? 'block'
                                : 'displayNone'
                            "
                            disabled
                            class="btn btn-xs btn-danger"
                          >
                            <i class="fa fa-close"></i> Decline</a
                          >
                        </div>
                      </div>
                    </div>

                    <div *ngIf="dataItem.correction_status == 'P'">
                      <div class="flex-container">
                        <div class="flex-item">
                          <span
                            *ngIf="dataItem.correction_status == 'A'"
                            class="badge bg-green-gradient"
                            >Approved</span
                          >
                          <span
                            *ngIf="dataItem.correction_status == 'D'"
                            class="badge bg-red-gradient"
                            >Declined</span
                          >
                          <span
                            *ngIf="dataItem.correction_status == 'P'"
                            class="badge bg-yellow-gradient"
                            >Pending</span
                          >
                        </div>
                        <div
                          class="flex-item"
                          *ngIf="this.authService.currentUserRoleValue !== 'staff'"
                        >
                          <a
                            [ngClass]="
                              pointedStaff == dataItem &&
                              activeIndex == rowIndex
                                ? 'block'
                                : 'displayNone'
                            "
                            class="btn btn-xs btn-success"
                            (click)="openApprovalConfirmation(dataItem)"
                          >
                            <i class="fa fa-check"></i> Approve</a
                          >
                        </div>
                        <div
                          class="flex-item"
                          *ngIf="this.authService.currentUserRoleValue !== 'staff'"
                        >
                          <a
                            (click)="openDeclineConfirmationDialogue(dataItem)"
                            [ngClass]="
                              pointedStaff == dataItem &&
                              activeIndex == rowIndex
                                ? 'block'
                                : 'displayNone'
                            "
                            class="btn btn-xs btn-danger"
                          >
                            <i class="fa fa-close"></i> Decline</a
                          >
                        </div>
                      </div>
                    </div>
                  </a>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column
                title="CheckIn DateTime"
                field="checkin_datetime"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="160"
              >
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-rowIndex="rowIndex"
                >
                  <ng-container
                    *ngIf="dataItem.checkin_datetime !== '0000-00-00 00:00:00'"
                  >
                    <!-- <ng-container *ngIf="datePickerFormat == 'E'"> -->
                      <span *ngIf="dateFormat == 'MM/DD/YYYY'">
                        {{ dataItem.checkin_datetime | date: "MM/dd/yyyy" }}
                      </span>
                      <span *ngIf="dateFormat == 'YYYY/MM/DD'">
                        {{ dataItem.checkin_datetime | date: "yyyy/MM/dd" }}
                      </span>
                    <!-- </ng-container> -->

                    <!-- <ng-container *ngIf="datePickerFormat === 'N'">
                      {{dataItem.checkin_datetime|nepaliDatePipe:this.dateFormat:'fullDate'}}
                    </ng-container> -->
                  </ng-container>

                  <ng-container
                    *ngIf="dataItem.checkin_datetime == '0000-00-00 00:00:00'"
                  >
                    00:00:00
                  </ng-container>

                  <br />
                  <ng-container
                    *ngIf="dataItem.checkin_datetime !== '0000-00-00 00:00:00'"
                  >
                    <span *ngIf="timeFormat == '12'">{{
                      dataItem.checkin_datetime !== null
                        ? (dataItem.date + " " + dataItem.checkin_datetime
                          | date: "shortTime")
                        : null
                    }}</span>
                    <span *ngIf="timeFormat == '24'">{{
                      dataItem.checkin_datetime !== null
                        ? (dataItem.date + " " + dataItem.checkin_datetime
                          | date: "HH:mm")
                        : null
                    }}</span>
                  </ng-container>

                  <ng-container
                    *ngIf="dataItem.checkin_datetime == '0000-00-00 00:00:00'"
                  >
                    00:00
                  </ng-container>

                  <!-- <span *ngIf="dateFormat == 'MM/DD/YYYY'">
                    {{ dataItem.checkin_datetime | date: "MM/dd/yyyy" }}
                  </span>
                  <span *ngIf="dateFormat == 'YYYY/MM/DD'">
                    {{ dataItem.checkin_datetime | date: "yyyy/MM/dd" }}
                  </span>

                  <br />
                  <ng-container *ngIf="dataItem.checkin_datetime !== '00:00'">
                    <span *ngIf="timeFormat == '12'">{{
                      dataItem.checkin_datetime !== null
                        ? (dataItem.date + " " + dataItem.checkin_datetime
                          | date: "shortTime")
                        : null
                    }}</span>
                    <span *ngIf="timeFormat == '24'">{{
                      dataItem.checkin_datetime !== null
                        ? (dataItem.date + " " + dataItem.checkin_datetime
                          | date: "HH:mm")
                        : null
                    }}</span>
                  </ng-container>
                  <ng-container *ngIf="dataItem.lunch_in == '00:00'">
                    <p>
                      {{ dataItem.lunch_in }}
                    </p>
                  </ng-container> -->
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column
                title="CheckOut DateTime"
                field="checkout_datetime"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="160"
              >
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-rowIndex="rowIndex"
                >
                  <ng-container
                    *ngIf="dataItem.checkout_datetime !== '0000-00-00 00:00:00'"
                  >
                    <span *ngIf="dateFormat == 'MM/DD/YYYY'">
                      {{ dataItem.checkout_datetime | date: "MM/dd/yyyy" }}
                    </span>
                    <span *ngIf="dateFormat == 'YYYY/MM/DD'">
                      {{ dataItem.checkout_datetime | date: "yyyy/MM/dd" }}
                    </span>
                  </ng-container>

                  <ng-container
                    *ngIf="dataItem.checkout_datetime == '0000-00-00 00:00:00'"
                  >
                    00:00:00
                  </ng-container>
                  <br />

                  <ng-container
                    *ngIf="dataItem.checkout_datetime !== '0000-00-00 00:00:00'"
                  >
                    <span *ngIf="timeFormat == '12'">{{
                      dataItem.checkout_datetime !== null
                        ? (dataItem.date + " " + dataItem.checkout_datetime
                          | date: "shortTime")
                        : null
                    }}</span>
                    <span *ngIf="timeFormat == '24'">{{
                      dataItem.checkout_datetime !== null
                        ? (dataItem.date + " " + dataItem.checkout_datetime
                          | date: "HH:mm")
                        : null
                    }}</span>
                  </ng-container>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column
                title="CheckIn  Request"
                field="checkin_datetime_request"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="140"
              >
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-rowIndex="rowIndex"
                >
                  <span *ngIf="dateFormat == 'MM/DD/YYYY'">
                    {{ dataItem.checkin_datetime_request | date: "MM/dd/yyyy" }}
                  </span>
                  <span *ngIf="dateFormat == 'YYYY/MM/DD'">
                    {{ dataItem.checkin_datetime_request | date: "yyyy/MM/dd" }}
                  </span>

                  <ng-container
                    *ngIf="dataItem.checkin_datetime_request !== '00:00'"
                  >
                    <span *ngIf="timeFormat == '12'">{{
                      dataItem.checkin_datetime_request !== null
                        ? (dataItem.date +
                            " " +
                            dataItem.checkin_datetime_request
                          | date: "shortTime")
                        : null
                    }}</span>
                    <span *ngIf="timeFormat == '24'">{{
                      dataItem.checkin_datetime_request !== null
                        ? (dataItem.date +
                            " " +
                            dataItem.checkin_datetime_request | date: "HH:mm")
                        : null
                    }}</span>
                  </ng-container>

                  <ng-container
                    *ngIf="dataItem.checkin_datetime_request == '00:00'"
                  >
                    <p>
                      {{ dataItem.checkin_datetime_request }}
                    </p>
                  </ng-container>
                </ng-template>
              </kendo-grid-column>

              <kendo-grid-column
                title="CheckOut  Request"
                field="checkout_datetime_request"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="160"
              >
                <ng-template
                  kendoGridCellTemplate
                  let-dataItem="dataItem"
                  let-rowIndex="rowIndex"
                >
                  <ng-container
                    *ngIf="
                      dataItem.checkout_datetime_request !==
                      '0000-00-00 00:00:00'
                    "
                  >
                    <span *ngIf="dateFormat == 'MM/DD/YYYY'">
                      {{
                        dataItem.checkout_datetime_request | date: "MM/dd/yyyy"
                      }}
                    </span>
                    <span *ngIf="dateFormat == 'YYYY/MM/DD'">
                      {{
                        dataItem.checkout_datetime_request | date: "yyyy/MM/dd"
                      }}
                    </span>
                  </ng-container>

                  <ng-container
                    *ngIf="
                      dataItem.checkout_datetime_request ==
                      '0000-00-00 00:00:00'
                    "
                  >
                    00:00:00
                  </ng-container>

                  <br />
                  <ng-container
                    *ngIf="
                      dataItem.checkout_datetime_request !==
                      '0000-00-00 00:00:00'
                    "
                  >
                    <span *ngIf="timeFormat == '12'">{{
                      dataItem.checkout_datetime_request !== null
                        ? (dataItem.date +
                            " " +
                            dataItem.checkout_datetime_request
                          | date: "shortTime")
                        : null
                    }}</span>
                    <span *ngIf="timeFormat == '24'">{{
                      dataItem.checkout_datetime_request !== null
                        ? (dataItem.date +
                            " " +
                            dataItem.checkout_datetime_request | date: "HH:mm")
                        : null
                    }}</span>
                  </ng-container>

                  <ng-container
                    *ngIf="
                      dataItem.checkout_datetime_request ==
                      '0000-00-00 00:00:00'
                    "
                  >
                    00:00
                  </ng-container>
                </ng-template>
              </kendo-grid-column>

              <!-- <kendo-grid-column
                title="Message"
                field="correction_request_message"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="180"
              >
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                  <p>{{ dataItem.correction_request_message }}</p>
                </ng-template>
              </kendo-grid-column> -->

              <kendo-grid-column
                title="Action"
                [headerStyle]="{ 'font-weight': 'bold' }"
                [width]="150"
              >
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                  <a
                    tooltip="View"
                    class="btn"
                    (click)="openViewModal(correctionViewRef, dataItem)"
                  >
                    <i class="fa fa-eye"></i
                  ></a>

                  <!-- Start of Edit Correction Attendance -->
                  <!-- hide action for staff role  -->
                <ng-container *ngIf="authService.currentUserRoleValue !== 'staff'">
                  <a
                  (click)="
                    updateCorrectionAttendanceStatus(
                      AttendanceCorrectionRef,
                      dataItem
                    )
                  "
                  tooltip="Update"
                  class="btn"
                  *ngIf="
                    dataItem.correction_status == 'P' ||
                    dataItem.correction_status == 'D'
                  "
                >
                  <i class="fa fa-edit"></i>
                </a>
                <a
                  class="btn"
                  *ngIf="dataItem.correction_status == 'A'"
                  disabled
                  ><i class="fa fa-edit"></i
                ></a>

                <!-- Start of Delete Correction button -->
                <flexyear-delete-confirmation-modal
                  [data]="dataItem"
                  [title]="dataItem.name"
                  [action]="'delete'"
                  (onConfirm)="deleteCorrectionAttendance(dataItem)"
                >
                </flexyear-delete-confirmation-modal>
                </ng-container>
                </ng-template>
              </kendo-grid-column>
            </kendo-grid>
          </div>
        </div>
      </div>
    </tab>

    <!-- Pending Correction Attendance -->
    <tab id="tab" heading="Pending" (selectTab)="selectedTab('pending')">
      <ng-container *ngIf="heading == 'pending'">
        <app-pending-correction-attendance></app-pending-correction-attendance>
      </ng-container>
    </tab>

    <!-- Approved Correction Attendance -->
    <tab id="tab" heading="Approved" (selectTab)="selectedTab('approved')">
      <ng-container *ngIf="heading == 'approved'">
        <app-approved-correction-attendance></app-approved-correction-attendance>
      </ng-container>
    </tab>

    <!-- Declined Correction Attendance -->
    <tab id="tab" heading="Declined" (selectTab)="selectedTab('declined')">
      <ng-container *ngIf="heading == 'declined'">
        <app-declined-correcton-attendance></app-declined-correcton-attendance>
      </ng-container>
    </tab>
  </tabset>
</div>

<!-- correction attendance view modal -->
<ng-template #correctionViewRef>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Attendance Correction Detail</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Name</th>
          <td>{{ correctionAttendanceLists.username }}</td>
        </tr>
        <tr>
          <th scope="row">Checkin Datetime</th>
          <td>
            <ng-container
              *ngIf="
                correctionAttendanceLists.checkin_datetime !==
                '0000-00-00 00:00:00'
              "
            >
              <span
                *ngIf="correctionAttendanceLists.checkin_datetime == 'null'"
                style="color: red; font-style: italic"
              >
                (not set)
              </span>
              <!-- {{
          correctionAttendanceLists.checkin_datetime | date: "MM/dd/yyyy"
        }}
        {{ correctionAttendanceLists.checkin_datetime | date: "HH:mm:ss" }} -->
              <span *ngIf="dateFormat == 'MM/DD/YYYY'">
                {{
                  correctionAttendanceLists.checkin_datetime
                    | date: "MM/dd/yyyy"
                }}
              </span>
              <span *ngIf="dateFormat == 'YYYY/MM/DD'">
                {{
                  correctionAttendanceLists.checkin_datetime
                    | date: "yyyy/MM/dd"
                }}
              </span>
              <span *ngIf="timeFormat == '24'">
                {{
                  correctionAttendanceLists.checkin_datetime | date: "HH:mm:ss"
                }}
              </span>
              <span *ngIf="timeFormat == '12'">
                {{
                  correctionAttendanceLists.checkin_datetime | date: "shortTime"
                }}
              </span>
            </ng-container>
          </td>
        </tr>

        <tr>
          <th scope="row">Checkin Message</th>
          <td>
            <span
              *ngIf="correctionAttendanceLists.checkin_msg == 'null'"
              style="color: red; font-style: italic"
            >
              (not set)
            </span>
            <span>
              {{ correctionAttendanceLists.checkin_message }}
            </span>
          </td>
        </tr>

        <tr>
          <th scope="row">Checkin Ip</th>
          <td>{{ correctionAttendanceLists.checkin_ip }}</td>
        </tr>

        <tr>
          <th scope="row">Checkout Datetime</th>
          <td>
            <span
              *ngIf="correctionAttendanceLists.checkout_datetime == 'null'"
              style="color: red; font-style: italic"
            >
              (not set)
            </span>
            <!-- {{
              correctionAttendanceLists.checkout_datetime | date: "MM/dd/yyyy"
            }}
            {{ correctionAttendanceLists.checkout_datetime | date: "HH:mm:ss" }} -->
            <span
              *ngIf="
                dateFormat == 'MM/DD/YYYY' &&
                correctionAttendanceLists.checkout_datetime !==
                  '0000-00-00 00:00:00'
              "
            >
              {{
                correctionAttendanceLists.checkout_datetime | date: "MM/dd/yyyy"
              }}
            </span>
            <span
              *ngIf="
                dateFormat == 'YYYY/MM/DD' &&
                correctionAttendanceLists.checkout_datetime !==
                  '0000-00-00 00:00:00'
              "
            >
              {{
                correctionAttendanceLists.checkout_datetime | date: "yyyy/MM/dd"
              }}
            </span>
            <br />
            <ng-container
              *ngIf="correctionAttendanceLists.checkout_datetime !== '00:00:00'"
            >
              <span
                *ngIf="
                  timeFormat == '12' &&
                  correctionAttendanceLists.checkout_datetime !==
                    '0000-00-00 00:00:00'
                "
                >{{
                  correctionAttendanceLists.checkout_datetime !== null
                    ? (correctionAttendanceLists.date +
                        " " +
                        correctionAttendanceLists.checkout_datetime
                      | date: "shortTime")
                    : null
                }}</span
              >
              <span
                *ngIf="
                  timeFormat == '24' &&
                  correctionAttendanceLists.checkout_datetime !==
                    '0000-00-00 00:00:00'
                "
                >{{
                  correctionAttendanceLists.checkout_datetime !== null
                    ? (correctionAttendanceLists.date +
                        " " +
                        correctionAttendanceLists.checkout_datetime
                      | date: "HH:mm")
                    : null
                }}</span
              >
            </ng-container>
            <ng-container
              *ngIf="
                correctionAttendanceLists.checkout_datetime ==
                '0000-00-00 00:00:00'
              "
            >
              <p>
                {{ correctionAttendanceLists.checkout_datetime }}
              </p>
            </ng-container>
          </td>
        </tr>

        <tr>
          <th scope="row">Checkout Message</th>
          <td>{{ correctionAttendanceLists.checkout_message }}</td>
        </tr>
        <tr>
          <th scope="row">Checkout Ip</th>
          <td>{{ correctionAttendanceLists.checkout_ip }}</td>
        </tr>

        <tr>
          <th scope="row">Checkin Datetime Request</th>
          <td>
            <!-- {{
              correctionAttendanceLists.checkin_datetime_request
                | date: "MM/dd/yyyy"
            }}
            {{
              correctionAttendanceLists.checkin_datetime_request
                | date: "HH:mm:ss"
            }} -->
            <span *ngIf="dateFormat == 'MM/DD/YYYY'">
              {{
                correctionAttendanceLists.checkin_datetime_request
                  | date: "MM/dd/yyyy"
              }}
            </span>
            <span *ngIf="dateFormat == 'YYYY/MM/DD'">
              {{
                correctionAttendanceLists.checkin_datetime_request
                  | date: "yyyy/MM/dd"
              }}
            </span>
            <ng-container
              *ngIf="
                correctionAttendanceLists.checkin_datetime_request !==
                '0000-00-00 00:00:00'
              "
            >
              <span *ngIf="timeFormat == '12'">{{
                correctionAttendanceLists.checkin_datetime_request !== null
                  ? (correctionAttendanceLists.date +
                      " " +
                      correctionAttendanceLists.checkin_datetime_request
                    | date: "shortTime")
                  : null
              }}</span>
              <span *ngIf="timeFormat == '24'">{{
                correctionAttendanceLists.checkin_datetime_request !== null
                  ? (correctionAttendanceLists.date +
                      " " +
                      correctionAttendanceLists.checkin_datetime_request
                    | date: "HH:mm")
                  : null
              }}</span>
            </ng-container>
            <ng-container
              *ngIf="
                correctionAttendanceLists.checkin_datetime_request ==
                '0000-00-00 00:00:00'
              "
            >
              <p>
                {{ correctionAttendanceLists.checkin_datetime_request }}
              </p>
            </ng-container>
          </td>
        </tr>
        <tr>
          <th scope="row">Checkout Datetime Request</th>
          <td>
            <span
              *ngIf="correctionAttendanceLists.checkin_datetime == 'null'"
              style="color: red; font-style: italic"
            >
              (not set)
            </span>
            <!-- {{
              correctionAttendanceLists.checkout_datetime_request
                | date: "MM/dd/yyyy"
            }}
            {{
              correctionAttendanceLists.checkout_datetime_request
                | date: "HH:mm:ss"
            }} -->
            <span
              *ngIf="
                dateFormat == 'MM/DD/YYYY' &&
                correctionAttendanceLists.checkout_datetime_request !==
                  '0000-00-00 00:00:00'
              "
            >
              {{
                correctionAttendanceLists.checkout_datetime_request
                  | date: "MM/dd/yyyy"
              }}
            </span>
            <span
              *ngIf="
                dateFormat == 'YYYY/MM/DD' &&
                correctionAttendanceLists.checkout_datetime_request !==
                  '0000-00-00 00:00:00'
              "
            >
              {{
                correctionAttendanceLists.checkout_datetime_request
                  | date: "yyyy/MM/dd"
              }}
            </span>
            <ng-container
              *ngIf="
                correctionAttendanceLists.checkout_datetime_request !==
                  '0000-00-00 00:00:00';
                else nullTemplate
              "
            >
              <span *ngIf="timeFormat == '24'">
                {{
                  correctionAttendanceLists.checkout_datetime_request
                    | date: "HH:mm:ss"
                }}
              </span>
              <span *ngIf="timeFormat == '12'">
                {{
                  correctionAttendanceLists.checkout_datetime_request
                    | date: "shortTime"
                }}
              </span>
            </ng-container>
            <ng-template #nullTemplate>
              {{ correctionAttendanceLists.checkout_datetime_request }}
            </ng-template>
          </td>
        </tr>
        <tr>
          <th scope="row">Message</th>
          <td>{{ correctionAttendanceLists.checkout_message }}</td>
        </tr>
        <tr>
          <th scope="row">Correction Status</th>
          <td *ngIf="correctionAttendanceLists.correction_status == 'P'">
            Pending
          </td>
          <td *ngIf="correctionAttendanceLists.correction_status == 'A'">
            Approved
          </td>
          <td *ngIf="correctionAttendanceLists.correction_status == 'D'">
            Declined
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
      Cancel
    </button>
  </div>
</ng-template>

<!-- Attendance Correction Modal -->
<ng-template #AttendanceCorrectionRef>
  <form [formGroup]="correctionAttendanceForm">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Update Attendance Correction</h4>

      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Checkin Datetime</label>
            <!-- <input
              type="datetime-local"
              class="form-control"
              formControlName="checkin_datetime"
            /> -->


            <app-custom-datetimelocal-picker [controlName]="'checkin_datetime'"  [formGroup]="correctionAttendanceForm"  [datepickerSetting]="customDateLocalSettingsForCheckIn" (valueOnChanges)="onCheckInValue($event)"></app-custom-datetimelocal-picker>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Checkout Datetime</label>
            <!-- <input
              type="datetime-local"
              class="form-control"
              formControlName="checkout_datetime"
            /> -->
            <app-custom-datetimelocal-picker [controlName]="'checkout_datetime'"  [formGroup]="correctionAttendanceForm"  [datepickerSetting]="customDateLocalSettingsForCheckOut" (valueOnChanges)="onCheckOutValue($event)"></app-custom-datetimelocal-picker>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="form-group">
            <label>Checkin Datetime Request</label>
            <input type="datetime-local" class="form-control" formControlName="checkin_datetime_request" />
          </div>
        </div> -->
      </div>

      <!-- <div class="row"> -->

      <!-- <div class="col-md-6">
          <div class="form-group">
            <label>Checkout Datetime Request</label>
            <input type="datetime-local" class="form-control" formControlName="checkout_datetime_request" />
          </div>
        </div> -->
      <!-- </div> -->
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
        Cancel
      </button>
      <button class="btn btn-success" (click)="onSave()">Submit</button>
    </div>
  </form>
</ng-template>
