<!-- <body> -->
<div class="site-wrapper">
    <div class="top-wrap">
        <div class="site-navigation">
            <div class="button-wrap">
                <button id="btn-toogle" class="btn-toggle navToggler">
                      <span></span>
                      <span></span>
                      <span></span>
                      <span></span>
                      </button>
            </div>
            <div class="nav-wrap">
                <div class="inner-nav">
                    <ul class="nav-menu">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Skills</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="main-content">
            <!-- Banner start-->
            <section class="main-banner-section">
                <div class="container">
                    <div class="content-section">
                        <div class="top-content">
                            <div class="item-img">
                                <img src="../../../../../assets/web-images/images/roshanaalemagar1.jpg" alt="img">
                            </div>
                            <div class="item-content">
                                <div class="item-top-text">
                                    Hello
                                </div>
                                <div class="item-title">
                                    <h1>I am Roshan Aale Magar.</h1>
                                </div>
                                <div class="item-intro">
                                    <h2>
                                        <span> A freelance Front End Developer.</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="bottom-content">
                            <div class="item-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100004829232922"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="https://www.linkedin.com/in/roshanaale9818"><i class="fab fa-linkedin-in"></i></a></li>
                                    <li><a href="https://github.com/roshanaale9818"><i class="fab fa-github"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Banner End-->

            <!--About me starts-->
            <section class="aboutme-section bg-color-1">
                <div class="container">
                    <div class="aboutme-wrap">
                        <div class="heading-wrap">
                            <h1 class="heading-title">About Me</h1>
                        </div>
                        <div class="heading-paragraph">
                            <p>
                                There are many variations of passages of Lorem Ipsum available.
                            </p>
                        </div>
                        <div class="heading-line">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-12">
                            <div class="about-img txt-center mt-50">
                                <img src="../../../../../assets/web-images/aboutme.jpg" alt="fig">
                            </div>
                            <div class="download-wrap txt-center">
                                <a href="download/roshanaalemagar.pdf" class="download-btn" download="roshanaalemagar" target="_blank">DOWNLOAD CV <i class="fas fa-download ml-2"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-8 col-12">
                            <div class="item-wrap sub-title">
                                <h3 class="item-title">
                                    Roshan Aale Magar
                                </h3>
                                <div class="item-subtitle">
                                    FrontEnd Developer
                                </div>
                                <div class="item-paragraph">
                                    <p>
                                        I am a dedicated, hardworking and proactive web developer very interested in software development process currently studying BIT at Texas College. I am currently looking for an opportunity to utilize my technical skills in a challenging working environment
                                        and become a valuable asset to the organization that I work for.
                                        <!-- There are many variations of passages of Lorem Ipsum available but the majority is have suffered alteration in that some form by injected humour or randomised that words which don't look even slightly believable. If you are going a to use a passage of
                                          Lorem Ipsum you need to be sure there isn't anything embarrassing. There are is many variations of passages available. -->
                                    </p>
                                </div>
                                <div class="personal-info">
                                    <div class="row">
                                        <div class="col-md-6 col-12">
                                            <div class="info-list">
                                                <ul>
                                                    <li><span>Birthday:</span> 05. 09.1975</li>
                                                    <li><span>Address:</span>MidBaneshwor,Kathmandu</li>
                                                    <li><span>Age:</span> 20 years</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="info-list">
                                                <ul>
                                                    <li><span>Mail:</span> roshanaale54@gmail.com</li>
                                                    <li><span>Phone:</span> 9818009826</li>
                                                    <li><span>Study:</span> BIT</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--About me Ends-->

            <!--Skills section Starts here-->
            <section class="myskills-section bg-color-1">
                <div class="container">
                    <div class="myskills-heading txt-center">
                        <div class="heading-wrap">
                            <h1 class="heading-title">My Skills</h1>
                        </div>
                        <div class="heading-paragraph">
                            <p>
                                There are many variations of passages of Lorem Ipsum available.
                            </p>
                        </div>
                        <div class="heading-line">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-md-6 col-12">
                            <div class="sub-heading">
                                <h2>Technical Skills</h2>
                            </div>
                            <div class="skill-list">
                                <ul>
                                    <li>Typescript</li>
                                    <li>Angular</li>
                                    <li>Javascript</li>
                                    <li>HTML , CSS</li>
                                    <li>Basics of Ionic 4</li>
                                    <li>Concept of OOP with java</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="sub-heading">
                                <h2>Addittional Skills</h2>
                            </div>
                            <div class="skill-list">
                                <ul>
                                    <li>Keen to learn new technology</li>
                                    <li>Quick Learner</li>
                                    <li>Teamwork and leadership</li>
                                    <li>Active Listening</li>
                                    <li>Problem Solving</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Skills section Ends here-->


            <!--My project starts here-->
            <section class="myproject-section bg-color-1">
                <div class="container">
                    <div class="myproject-heading txt-center">
                        <div class="heading-wrap">
                            <h1 class="heading-title">My Projects</h1>
                        </div>
                        <div class="heading-paragraph ">
                            <p>
                                There are many variations of passages of Lorem Ipsum available.
                            </p>
                        </div>
                        <div class="heading-line">
                        </div>
                    </div>
                    <div class="row mt-20">
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="project-item">
                                <div class="project-icon">
                                    <img src="../../../../../assets/web-images/images/project.png" alt="project">
                                </div>
                                <div class="project-content">
                                    <h3 class="item-title mt-20"><a href="#" class="pointer-none">AnimeInfo</a></h3>
                                    <p>
                                        A simple web project showing all the details of Japanese anime and their characters using Angular.
                                    </p>
                                    <a href="https://animeinfo-17b02.web.app/">View Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="project-item">
                                <div class="project-icon">
                                    <img src="../../../../../assets/web-images/images/project.png" alt="project">
                                </div>
                                <div class="project-content">
                                    <h3 class="item-title mt-20"><a href="#" class="pointer-none">FirebaseCRUD</a></h3>
                                    <p>
                                        Simple project providing Angular CRUD Service with Firebase authentication.
                                    </p>
                                    <a href="https://angularfirebasecrud-9607c.firebaseapp.com/#/login">View Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="project-item">
                                <div class="project-icon">
                                    <img src="../../../../../assets/web-images/images/project.png" alt="project">
                                </div>
                                <div class="project-content">
                                    <h3 class="item-title mt-20"><a href="#" class="pointer-none">BookingAlly</a></h3>
                                    <p>
                                        A simple android app providing booking service and allowing our place to be booked with ionic 4 and angular.
                                    </p>
                                    <a href="https://drive.google.com/file/d/1oJa-oEBJdppVd37mZQKqAECXLKcowvy3/view?usp=sharing">Download APK</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="project-item">
                                <div class="project-icon">
                                    <img src="../../../../../assets/web-images/images/project.png" alt="project">
                                </div>
                                <div class="project-content">
                                    <h3 class="item-title mt-20"><a href="#" class="pointer-none">NewsApp</a></h3>
                                    <p>
                                        A simple andorid app providing news with ionic 4 and angular.
                                    </p>
                                    <a href="https://drive.google.com/file/d/1Y7LQhQLODnwsaFpgmMDu_uIiv-hqtnzm/view?usp=sharing">Download APK</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="project-item">
                                <div class="project-icon">
                                    <img src="../../../../../assets/web-images/images/project.png" alt="project">
                                </div>
                                <div class="project-content">
                                    <h3 class="item-title mt-20"><a href="#" class="pointer-none">PeaceGarden</a></h3>
                                    <p>
                                        I worked as web designer of this project.
                                    </p>
                                    <a href="https://whitestroke.com/development/peacerestaurant/">View Project</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6 col-12">
                            <div class="project-item">
                                <div class="project-icon">
                                    <img src="../../../../../assets/web-images/images/project.png" alt="project">
                                </div>
                                <div class="project-content">
                                    <h3 class="item-title mt-20"><a href="#" class="pointer-none">TableBook (working)</a></h3>
                                    <p>
                                        A web project providing Table booking service. (In progress)
                                    </p>
                                    <!-- <a href="#">View Project</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>

            <!--My project ends here-->




            <!--Contact me starts here-->
            <section class="contactme-section bg-color-1">
                <div class="container">
                    <div class="contactme-heading txt-center">
                        <div class="heading-wrap">
                            <h1 class="heading-title">Contact Me</h1>
                        </div>
                        <div class="heading-paragraph ">
                            <p>
                                There are many variations of passages of Lorem Ipsum available.
                            </p>
                        </div>
                        <div class="heading-line">
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-lg-6 col-12">
                            <div class="icon-wrap">
                                <div class="contact-list">
                                    <div class="item-icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="contactme-content">
                                        <h3 class="item-title">Address</h3>
                                        <div class="item-text">19 Maypole Crescent Ilford,</div>
                                        <div class="item-text">L6 2UJ London, UK</div>
                                    </div>
                                </div>
                                <div class="contact-list">
                                    <div class="item-icon">
                                        <i class="far fa-envelope-open"></i>
                                    </div>
                                    <div class="contactme-content">
                                        <h3 class="item-title">Email</h3>
                                        <div class="item-text">roshanaale54@gmail.com</div>
                                    </div>
                                </div>
                                <div class="contact-list">
                                    <div class="item-icon">
                                        <i class="fas fa-phone-alt"></i>
                                    </div>
                                    <div class="contactme-content">
                                        <h3 class="item-title">Phone</h3>
                                        <div class="item-text">+977 9818009826</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="form-wrap">
                                <form action="POST">
                                    <div class="row">
                                        <div class="col-lg-12 form-group">
                                            <input type="text" class="form-control" placeholder="FULLNAME">
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <input type="text" class="form-control" placeholder="EMAIL">
                                        </div>
                                        <div class="col-lg-6 form-group">
                                            <input type="text" class="form-control" placeholder="SUBJECT">
                                        </div>
                                        <div class="col-lg-12">
                                            <textarea name="message" class="form-control" cols="30" rows="7" placeholder="YOUR MESSAGE"></textarea>
                                        </div>
                                        <div class="col-lg-12 mt-30">
                                            <button type="submit" class="download-btn">SEND MESSAGE</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <!--Contact me ends here-->
            <!--Footer starts here-->
            <footer class="site-footer bg-color-2">
                <div class="container">
                    <div class="footer-wrap">
                        <div class="copyright txt-center">
                            ©2020 RoshanAaleMagar. All Rights Reserved. Terms and Privacy
                        </div>
                    </div>
                </div>
            </footer>
            <!--Footer ends here-->

        </div>
    </div>


</div>
<!-- <script src="js/jquery-3.3.1.min.js"></script>
<script src="js/script.js"></script> -->
<!-- </body> -->