$green-color: #3ce979;
$white-color: #ffffff;
$red-color: #a52525;

i {
  margin-right: 5px;
}
.btn-success {
  color: $green-color !important;
  background-color: $white-color !important;
  border-color: $green-color !important;
  &:hover {
    background-color: $green-color !important;
    color: $white-color !important;
  }
}

.btn-danger {
  color: $red-color !important;
  background-color: $white-color !important;
  border-color: $red-color !important;
  &:hover {
    background-color: $red-color !important;
    color: $white-color !important;
  }
}

td,
th {
  padding: 5px;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  .flex-item {
    margin-right: 10px;
  }
}

.flexicon {
  filter: grayscale(100%);
}

.flexicon:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
img {
  vertical-align: middle;
  border: 0;
}

.backgrnd {
  background: url(../../../../../../assets/images/bg_1.png);
}

.row {
  margin-right: 15px;
  margin-left: 15px;
}
* {
  box-sizing: border-box;
}

div {
  display: block;
}
