<div class="alert-box">
  <!-- Head -->
  <div class="modal-header">
    <h4 class="modal-title pull-left"><b>Confirmation</b></h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="bsModalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <!-- Body -->
  <div class="modal-body">
    Session has been expired. Please login again!
    <!-- <strong>{{ bsModalRef?.content?.data }}</strong> ? -->
  </div>

  <!-- Footer -->
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-success btn-oval"
      (click)="onConfirm()"
    >
      Confirm
    </button>
    <button type="button" class="btn btn-danger btn-oval" (click)="onCancel()">
      Cancel
    </button>
  </div>
</div>
