<body>
    <div class="container wrapper" id="login-card">
        <!-- pull push used to aletr thge ordering of columns in large screens -->

        <div class="row wrapper">
            <!-- RIGHT PART the actual form -->
            <div class="col-sm-8 login-form col-sm-push-4">
                <div class="row">
                    <div class="logo">
                        <ng-container *ngIf="!companyDetailObj && !companyDetailObj?.logo.company_logo">
                            <img src="../../../../../assets/images/flexyearlogo.png" alt="flexYear-Logo" height="95px" class="img-fluid" title="logo" />
                        </ng-container>
                        <ng-container *ngIf="companyDetailObj">
                            <img [src]=" imageUrl+companyDetailObj?.logo.company_logo" alt="flexYear-Logo" height="95px" class="img-fluid" title="logo" />
                        </ng-container>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div id="main-form" style="padding: 10px;position:relative;">

                            <div style="margin-top: 10px">
                                <form id="main-form " style="padding: 10px" [formGroup]="forgotForm">
                                    <ng-container *ngIf="!showPasswordForm">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email</label
                >

                <div class="icon-wrapper">
                  <img [ngClass]="(forgotForm.controls?.email?.invalid &&
                  forgotForm.controls?.email?.touched) ||
                (forgotForm.controls?.email?.invalid &&
                  submitted) ? 'errorTop':null" src="/assets/images/login/user.svg" alt="" />
                  <input
                    type="email"
                    id="forgotForm-email"
                    class="form-control credential-field"
                    id="exampleInputEmail1"
                    aria-describedby="emailHelp"
                    name="forgotForm-email"
                    placeholder="email"
                    formControlName="email"
                  />
                  <!-- appFormControlValidationMsg -->
                  <span
                    class="form-error-msg"
                    style="color: red"
                    *ngIf="
                      (forgotForm.controls?.email?.invalid &&
                        forgotForm.controls?.email?.touched) ||
                      (forgotForm.controls?.email?.invalid && submitted)
                    "
                  >
                    Email is required
                  </span>
                </div>
              </div>
                                </ng-container>


<ng-container *ngIf="showPasswordForm">

  <div class="form-group">
    <label for="exampleInputEmail1">Password</label
>

                                            <div class="icon-wrapper">
                                                <img [ngClass]="(forgotForm.controls?.password?.invalid &&
forgotForm.controls?.password?.touched) ||
(forgotForm.controls?.password?.invalid &&
submitted) ? 'errorTop':null" src="/assets/images/login/user.svg" alt="" />
                                                <input type="password" id="forgotForm-password" class="form-control credential-field" id="exampleInputEmail1" aria-describedby="emailHelp" name="forgotForm-password" placeholder="password" formControlName="password" />
                                                <!-- appFormControlValidationMsg -->
                                                <!-- <span class="form-error-msg" style="color: red" *ngIf="
(forgotForm.controls?.password?.invalid &&
forgotForm.controls?.password?.touched) ||
(forgotForm.controls?.password?.invalid && submitted)
">
Password is required
</span> -->
                                                <span style="color: red;" class="mt-1" *ngIf="passwordValidationMessage && forgotForm.get('password')?.touched">
  {{passwordValidationMessage}}
</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="Confirmpassword">Confirm Password</label
>

                                            <div class="icon-wrapper">
                                                <img [ngClass]="(forgotForm.controls?.confirm_password?.invalid &&
forgotForm.controls?.confirm_password?.touched) ||
(forgotForm.controls?.confirm_password?.invalid &&
submitted) ? 'errorTop':null" src="/assets/images/login/user.svg" alt="" />
                                                <!-- appFormControlValidationMsg -->
                                                <input type="password" class="form-control credential-field" name="confirm_password" placeholder="password" formControlName="confirm_password" />
                                                <!-- appFormControlValidationMsg -->
                                                <span class="form-error-msg" style="color: red" *ngIf="
(forgotForm.controls?.confirm_password?.invalid &&
forgotForm.controls?.confirm_password?.touched) ||
(forgotForm.controls?.confirm_password?.invalid && forgotForm.controls?.confirm_password?.errors.required)
">
Confirm is required
</span>
                                                <span *ngIf="!forgotForm.get('confirm_password')?.errors?.required && forgotForm.get('confirm_password')?.errors?.confirmedValidator == true" style="color: red;">Password do not match.</span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </form>
                            </div>

                            <button class="btn btn-primary btn-block btn-login" style="text-align: center" appSingleClick appFormSubmitValidationMsg [validationControl]="forgotForm" (onClick)="onSubmit()">
            Submit
          </button>


                        </div>
                    </div>
                </div>
            </div>

            <!-- left part -->
            <div class="col-sm-4 col-sm-pull-8" id="welcome-section">
                <div class="row">
                    <div class="col">
                        <h1>Forgot Password</h1>

                        <button class="btn btn-signup" [routerLink]="['/login']">
          Back
        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="main-footer" style="
text-align: end;
text-align: end;
bottom: 0;
width: 100%;
margin: 0px;
margin-top: 1px solid #eee;
">
    <!-- Default to the left -->

    <div class="text-center mt-3">
        <strong>Copyright &copy; 2019 Flex Year
  <a href="https://bentraytech.com/">BentRay Technologies</a>.</strong
> All rights reserved.
    </div>
</footer>

<!-- <div style="position: absolute; bottom: 0; width: 100%">
<ng-container *ngComponentOutlet="entryComponent"></ng-container>
</div> -->
