// span.k-widget.k-dropdown.k-header.k-dropdown-operator {
//   display: none;
// }

.k-i-filter::before {
  display: none;
}

.flex-content {
  display: flex;
  justify-content: flex-end;
}

.flex-group {
  display: flex;
  justify-content: flex-start;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  .flex-items {
    margin-left: 20px;
    margin-top: 8px;
  }
}
