<div class="box box-default">
    <button class="btn btn-success btn-oval" (click)="openModal(leaveTypeModal)">
    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
    <b>Create Leave Type</b>
  </button>
    <div class="box-body grid-wrapper">
        <kendo-grid [data]="gridView" [resizable]="true" [pageSize]="limit" [skip]="skip" [pageable]="
        gridView ? (gridView.total <= pageLimit ? false : true) : false
      " [filterable]="true" [filter]="state.filter" [sortable]="true" [sort]="sort" [loading]="listLoading" (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column title="S.N" [width]="50" [minResizableWidth]="30" [filterable]="false" [headerStyle]="{ 'font-weight': 'bold' }">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    <p>{{ rowIndex + 1 }}</p>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Title" field="title" width="180" [headerStyle]="{ 'font-weight': 'bold' }">
            </kendo-grid-column>
            <kendo-grid-column title="Description" field="description" width="360" [headerStyle]="{ 'font-weight': 'bold' }">
            </kendo-grid-column>
            <kendo-grid-column title="Action" width="120" [headerStyle]="{ 'font-weight': 'bold' }">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <a tooltip="View" class="btn" (click)="openViewModal(viewModal, dataItem)">
                        <i class="fa fa-eye"></i
          ></a>
          <a
            tooltip="Update"
            class="btn"
            (click)="openEditModel(dataItem, leaveTypeModal)"
            ><i class="fa fa-edit"></i
          ></a>
          <a
            tooltip="Delete"
            class="btn"
            (click)="openConfirmationDialogue(dataItem)"
            ><i class="fa fa-trash"></i
          ></a>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>

<!-- Leave Type model -->
<form [formGroup]="leaveTypeForm">
  <ng-template #leaveTypeModal>
    <div class="modal-header">
      <h3 class="modal-title pull-left">{{ modalTitle }}</h3>

      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="title">Title <sup>*</sup></label>
            <input
              type="text"
              class="form-control"
              id="title"
              name="title"
              placeholder="Enter Leave Type"
              formControlName="title"
              appFormControlValidationMsg
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="exampleFormControlTextarea2"
              >Description<sup>*</sup></label
            >
            <textarea
              class="form-control rounded-0"
              id="exampleFormControlTextarea2"
              rows="3"
              name="description"
              formControlName="description"
              appFormControlValidationMsg
            ></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
        Cancel
      </button>
      <button
        class="btn btn-success"
        type="submit"
        (click)="onSubmitleaveType()"
        appFormSubmitValidationMsg
        [validationControl]="leaveTypeForm"
      >
        {{ submitButton }}
      </button>
    </div>
  </ng-template>
</form>

<!-- Leave Type detail view modal -->
<ng-template #viewModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Leave Type Detail</h4>

    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="table table-hover">
      <tbody>
        <tr>
          <th scope="row">Title</th>
          <td>{{ leaveTypeDetail.title }}</td>
        </tr>
        <tr>
          <th scope="row">Description</th>
          <td>{{ leaveTypeDetail.description }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
      Cancel
    </button>
  </div>
</ng-template>