<!-- add client ip modal -->
<form [formGroup]="clientIpForm">
  <ng-template #addClientIp>
    <div class="modal-header">
      <h3 class="modal-title pull-left">{{ modalTitle }}</h3>

      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="loc">Client Location</label>
            <select
              id="loc"
              class="form-control"
              formControlName="client_location_id"
              appFormControlValidationMsg
            >
              <option
                *ngFor="let location of clientBranchLocation"
                value="{{ location.client_location_id }}"
              >
                {{ location.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="email">Ip Address<sup>*</sup></label>
            <input
              type="text"
              id="email"
              class="form-control"
              formControlName="ip_address"
              appFormControlValidationMsg
            />
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="div">Client Divison</label>
            <select
              id="div"
              class="form-control"
              formControlName="client_division_id"
              appFormControlValidationMsg
            >
              <option
                *ngFor="let division of divisionList"
                value="{{ division.client_division_id }}"
              >
                {{ division.name }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="depart">Client Department</label>
            <select
              id="depart"
              class="form-control"
              formControlName="client_department_id"
              appFormControlValidationMsg
            >
              <option
                *ngFor="let department of clientDepartmentList"
                value="{{ department.client_department_id }}"
              >
                {{ department.name }}
              </option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="isp_name">Isp Name<sup>*</sup></label>
            <input
              type="text"
              id="isp_name"
              class="form-control"
              formControlName="isp_name"
              appFormControlValidationMsg
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="status">Status</label>
            <select
              id="status"
              class="form-control"
              formControlName="status"
              appFormControlValidationMsg
            >
              <option value="1">Active</option>
              <option value="0">InActive</option>
            </select>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
          Cancel
        </button>
        <button
          class="btn btn-success"
          type="submit"
          (click)="onSubmit()"
          appFormSubmitValidationMsg
          [validationControl]="clientIpForm"
        >
          Submit
        </button>
      </div>
    </div>
  </ng-template>
</form>
