<div class="head">
    <h3><b>User Credentials</b></h3>
</div>

<button class="btn btn-primary btn-oval" (click)="openAddUserCredentialModal(UserCredetialRef)">
  <i class="fa fa-plus"></i>&nbsp; <b>Assign User Credentials</b>
</button>

<button class="btn btn-primary btn-oval ml-3" (click)="openPinCredentialModal(pinChangeModal)">
  <i class="fa fa-plus"></i>&nbsp; <b>Assign Pin to User</b>
</button>

<ng-template #UserCredetialRef>
    <form [formGroup]="userCredentialsForm">
        <div class="modal-header">
            <h4 class="modal-title pull-left">{{ modalTitle }}</h4>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="user1">Username</label>
                <input id="user1" type="text" class="form-control" formControlName="username" />
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" type="password" class="form-control" formControlName="password" />
            </div>

            <div class="form-group">
                <label for="verifyPassword">Verify Password</label>
                <input id="verifyPassword" type="password" class="form-control" formControlName="confirmPassword" />
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label for="pin">Pin</label>
                    <input id="pin" formControlName="pin" />
                    <div class="flex-container">
                        <div class="flex-item">
                            <h3>
                                {{ randomNumber }}
                            </h3>
                        </div>

                        <div class="flex-item">
                            <a class="badge" (click)="returnRandomNmber()"><i class="fa fa-refresh" style="margin-right: 5px"></i
                >Generate</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button
        class="btn btn-primary"
        type="submit"
        (click)="onCreate()"
        appFormSubmitValidationMsg
        [validationControl]="userCredentialsForm"
      >
        Save
      </button>
      <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
        Cancel
      </button>
    </div>
  </form>
</ng-template>

<!-- assign pin modal -->
<form [formGroup]="pinChangeForm">
  <ng-template #pinChangeModal>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ modalTitle }}</h4>

      <button
        type="button"
        class="close pull-right"
        aria-label="Close"
        (click)="modalRef.hide()"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="user1">Employee Name</label>
            <ng-select
              appearance="outline"
              #agreeSelect
              labelForId="user"
              [searchable]="true"
              formControlName="user_id"
              placeholder="Select Employee"
            >
              <ng-option *ngFor="let item of staffList" [value]="item.user_id">
                {{ item.full_name }}
              </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <label for="pin">Pin</label>
          <input type="hidden" id="pin" formControlName="pin" />
          <div class="flex-container">
            <div class="flex-item">
              <h3>
                {{ randomNumber }}
              </h3>
            </div>

            <div class="flex-item">
              <a
                class="badge"
                style="margin-top: 25px"
                (click)="returnRandomNmber()"
                ><i class="fa fa-refresh" style="margin-right: 5px"></i
                >Generate</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        class="btn btn-primary"
        type="submit"
        (click)="onCreate()"
        appFormSubmitValidationMsg
        [validationControl]="userCredentialsForm"
      >
        Save
      </button>
      <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
        Cancel
      </button>
    </div>

    <!-- modal body -->
  </ng-template>
</form>
