<div class="box box-default box-shadow">
    <button class="btn btn-success btn-oval" (click)="openAddModal(currencyModal)">
    <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;
    <b>Add Currency</b>
  </button>
    <div class="box-body">
        <kendo-grid [data]="gridView" [resizable]="true" [pageSize]="limit" [loading]="currencyListLoading" [skip]="skip" [pageable]="
        gridView ? (gridView.total <= pageLimit ? false : true) : false
      " [filterable]="true" [filter]="state.filter" [sortable]="true" [sort]="sort" (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column title="S.N" [filterable]="false" [headerStyle]="{ 'font-weight': 'bold' }" [width]="50" [minResizableWidth]="30">
                <ng-template kendoGridCellTemplate let-rowIndex="rowIndex">
                    <p>{{ rowIndex + 1 }}</p>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Currency Name" field="name" [headerStyle]="{ 'font-weight': 'bold' }" [width]="180">
            </kendo-grid-column>
            <kendo-grid-column title="Penny Unit" field="penny_unit" [headerStyle]="{ 'font-weight': 'bold' }" [width]="180"></kendo-grid-column>

            <kendo-grid-column title="Currency Symbol" field="symbol" [headerStyle]="{ 'font-weight': 'bold' }" [width]="180"></kendo-grid-column>
            <kendo-grid-column [width]="80" title="Status" field="status">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <span *ngIf="dataItem.status == 'Active'" class="badge bg-green-gradient">
            Active</span
          >
          <span
            *ngIf="dataItem.status == 'InActive'"
            class="badge bg-red-gradient"
          >
            InActive
          </span>
                </ng-template>
            </kendo-grid-column>
            <kendo-grid-column title="Action" [headerStyle]="{ 'font-weight': 'bold' }" [width]="80">
                <ng-template kendoGridCellTemplate let-dataItem="dataItem">
                    <a class="btn" tooltip="Update" (click)="openEditModel(dataItem, currencyModal)"><i class="fa fa-edit"></i
          ></a>
                    <a class="btn" tooltip="Delete" (click)="openConfirmationDialogue(dataItem)"><i class="fa fa-trash"></i
          ></a>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>

<!-- add shift modal -->
<form [formGroup]="currencyForm">
    <ng-template #currencyModal>
        <div class="modal-header">
            <h3 class="modal-title pull-left">{{ modalTitle }}</h3>

            <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Currency Name <sup>*</sup></label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Enter name here" formControlName="name" appFormControlValidationMsg />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Penny Unit <sup>*</sup></label>
                        <input type="text" class="form-control" id="title" name="title" placeholder="Penny Unit" formControlName="penny_unit" appFormControlValidationMsg />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Currency Symbol <sup>*</sup></label>
                        <input type="text" class="form-control" id="title" name="Symbol" placeholder="symbol" formControlName="symbol" appFormControlValidationMsg />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Status<sup>*</sup></label>
                        <select name="status" class="form-control" formControlName="status" appFormControlValidationMsg>
              <option value="">Select Status</option>
              <option value="Active">Active</option>
              <option value="InActive">InActive</option>
            </select>
                    </div>
                </div>
            </div>
            <!-- modal body -->
        </div>
        <div class="modal-footer">
            <button class="btn btn-danger" type="button" (click)="modalRef.hide()">
        Cancel
      </button>
            <button class="btn btn-success" (click)="onSubmitCurrency()" type="submit" appFormSubmitValidationMsg [validationControl]="currencyForm">
        {{ submitButton }}
      </button>
        </div>
    </ng-template>
</form>
